# Secrets
.env
*.env
!.env.example

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
.project
.classpath
.settings/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
